SPOOL_ENVIRONMENT=development
SPOOL_BIND=127.0.0.1:8080
SPOOL_DATABASE_URL=postgres://spool:spool@127.0.0.1:5432/spool
SPOOL_OBJECT_STORE_ENDPOINT=http://127.0.0.1:9000
SPOOL_OBJECT_STORE_BUCKET=spool
SPOOL_OBJECT_STORE_REGION=auto
SPOOL_OBJECT_STORE_ACCESS_KEY=spool
SPOOL_OBJECT_STORE_SECRET_KEY=replace-me
SPOOL_PUBLIC_API_ORIGIN=http://127.0.0.1:8080
PUBLIC_SPOOL_API_ORIGIN=http://127.0.0.1:8080
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
WORKOS_COOKIE_PASSWORD=
